body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.1rem;
    line-height: 1.3em;
    margin: 0;
}

h1 {
    font-size: 2rem;
    line-height: 1.3em;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.content {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header {
    background: #333;
    color: white;
    padding: 0;

}

.header a {
    color: white;
    text-decoration: none;
}

.nav-container {
    display: flex;
    
   
}

.navigation ul {
    margin: 0;
    padding: 0;
    
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background: #4a4a4a;
}